images/output/michael-gaussian/*.jpg
images/output/todd-gaussian/*.jpg
images/output/stephen-gaussian/*.jpg
images/output/john-vega-gaussian/*.jpg
images/output/timothy-gaussian/*.jpg

stephen-gaussian/gaussian_executable